<form method="post" action="/Members/AddMember" class="formContainer">
            <label>Member Name:
            <input 
            type="text" 
            name="name" 
            />
            </label>
            <label>Membership Number:
            <input 
                type="text" 
                name="membershipNo" 
            />
            </label>
        <button type="submit">Create Member</button>
</form>