@using Bookish.Models.View;
@model MembersViewModel;

@{
    ViewData["Title"] = "Members List";
}

<div>
    <ul>
        @{
            foreach (var member in Model.Members)
            {
                <li>Name: @member.Name, Membership Number: @member.MembershipNo 
                    <a href="/Members/@member.MemberId/EditMember">Edit</a>
                    <a href="/Members/@member.MemberId/RemoveMember">Remove</a>

                    </li>
            }
        }
    </ul>