<form method="post" action="/Books/AddBook" class="formContainer">
            <label>Book Title:
            <input 
            type="text" 
            name="title" 
            />
            </label>
            <label>Book Author:
            <input 
                type="text" 
                name="author" 
            />
            </label>
            <label>Total number of copies:
            <input 
                type="text" 
                name="totalCopies" 
            />
            </label>
        <button type="submit">Create Book</button>
</form>