@using Bookish.Models.Data;
@model Book;

<form method="post" action="/Books/@Model.BookId/EditBook">
            <label>Book Title:
            <input 
            type="text" 
            name="title" 
            value="@Model.Title"
            required
            />
            </label>
            <label>Book Author:
            <input 
                type="text" 
                name="author" 
                value="@Model.Author"
                required
            />
            </label>
            <label>Total number of copies:
            <input 
                type="text" 
                name="totalCopies"
                value="@Model.TotalCopies"
                readonly
            />
            </label>
            <label>Number of available copies:
            <input 
                type="text" 
                name="availableCopies"
                value="@Model.AvailableCopies" 
                readonly
            />
            </label>
        <button type="submit">Update Book Info</button>
</form>