@using Bookish.Models.Data;
@model Book;

@{
    ViewData["Title"] = "Edit Book";
}

<form method="post" action="/Books/@Model.BookId/EditBook">
            <label>Book Title:
            <input 
            type="text" 
            name="title" 
            value="@Model.Title"
            required
            />
            </label>
            <label>Book Author:
            <input 
                type="text" 
                name="author" 
                value="@Model.Author"
                required
            />
            </label>
            <label>Total number of copies:
            <input 
                type="text" 
                id="totalCopies"
                name="totalCopies"
                value="@Model.TotalCopies"
                required
            />
            </label>
            <label>Number of available copies:
            <input 
                type="text" 
                name="availableCopies"
                value="@Model.AvailableCopies" 
                readonly
            />
            </label>
        <button id="submitButton" type="submit" disabled>Update Book Info</button>
</form>
<script>

function myFunction(totalCopies, availableCopies) {
    var inputTotalCopies = document.getElementById("totalCopies").value;
    var currentLoans = totalCopies-availableCopies;
    
    if(inputTotalCopies<currentLoans)
    {
        alert("Total Copies can't be less than " + currentLoans + "  for this book.")
    }
    else{
        var button = document.getElementById("submitButton");
        button.disabled = false;
    }
}
</script>