@using Bookish.Models;
@model Book;

@{
    ViewData["Title"] = "Book Details";
}

<div>
    <ul>
        <li>@Model.BookId</li>
        <li>@Model.Title</li>
        <li>@Model.Author</li>
        <li>@Model.AvailableCopies</li>
        <form method="post" action ="/Books/@Model.BookId/Borrow">
            <label> Borrower Id:
                <input  type="text" name ="memberId"/>
            </label>
            <button type="submit">Borrow Book</button>
        </form>
    </ul>
</div>