<form method="post" action="/Members/Add">
            <label>Member name:
            <input 
            type="text" 
            name="name" 
            />
            </label>
            <label>Membership Number:
            <input 
                type="text" 
                name="membershipNo" 
            />
            </label>
        <button type="submit">Creat Member</button>
</form>