@using Bookish.Models;
@model Library;

@{
    ViewData["Title"] = "Members List";
}

<div>
    <ul>
        @{
            foreach (var member in Model.Members)
            {
                <li>@member.MemberId, @member.Name, @member.MembershipNo <a href="/Members/@member.MemberId/EditMember">Edit</a></li>
            }
        }
    </ul>