@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">What would you like to do today?</h1>
    <ul>
        <li><a asp-area="" asp-controller="Books" asp-action="GetAll">View All Books</a></li>
        <li><a asp-area="" asp-controller="Books" asp-action="AddBook">Register a Book</a></li>
        <li><a asp-area="" asp-controller="Members" asp-action="GetAll">View All Members</a></li>
        <li><a asp-area="" asp-controller="Members" asp-action="AddMember">Register a Member</a></li>
        <li><a asp-area="" asp-controller="Books" asp-action="AllLoans">View Current Loans</a></li>

    </ul>

</div>
